<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <style>
        h3{text-align: center;}
    </style>
    <title><%= title %></title>
</head>
<body>
    <%- include('heading.ejs') %>
    <div class="flex gap-1 mx-10 mt-6 ">
        <span style="color:black">></span>
        <a href="/electionpage" class="text-black">Home page</a>
        <span style="color:black">></span>
        <a href="/electionpage/<%= id %>" class="text-black">Election page</a>
    </div>
    <div class="my-6 mx-10">
        <h3 class="text-4xl my-4 font-medium"></h3>
    </div>
    
</body>